:root {
  --branding-color: #f4aa3a;
  --secondary-color: #f8f4f0;
  --accent-color: #cf6285;
}

.hero {
  padding: 150px 15px;
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: rgba(207, 98, 133, 0.4) 0px 5px, rgba(207, 98, 133, 0.3) 0px 10px,
    rgba(207, 98, 133, 0.2) 0px 15px, rgba(207, 98, 133, 0.1) 0px 20px,
    rgba(207, 98, 133, 0.05) 0px 25px;
    transition: all 800ms ease-in-out;
  }
  .hero:hover {
    box-shadow: rgba(244,170,58, 0.4) 0px 5px, rgba(244,170,58, 0.3) 0px 10px,
      rgba(244,170,58, 0.2) 0px 15px, rgba(244,170,58, 0.1) 0px 20px,
      rgba(244,170,58, 0.05) 0px 25px;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 800ms ease-in-out;
}
h1:hover {
  color: var(--branding-color);
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 30px;
}

.btn-branding {
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.btn-branding:hover {
  color: white;
  background-color: var(--branding-color);
}
